.grid {
 width: 200px;
 height: 400px;
 display: flex;
 flex-wrap: wrap;
 background-color: cadetblue;   
}

.grid div {
    height: 20px;
    width: 20px;
   /* background-color: red;*/
}

.tetromino {
    background-color: orange;
}